@import '/src/styles/base';

.container {
  @include col;
  @include pad-left;
  margin-left: 10px;
  flex: 1;
  min-width: 0;
  width: 100%;

  @include mobile {
    margin: 0;
  }
}

.results {
  width: 1000px;
  max-width: 100%;

  margin-top: 15px;
  @include col;

  @include mobile {
    width: 100%;
    gap: 0px;
  }

  gap: 50px;
  margin-bottom: 50px;

  @include mobile {
    margin-bottom: 0;
  }
}
